-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: sistema_impresoras
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `equipos`
--

LOCK TABLES `equipos` WRITE;
/*!40000 ALTER TABLE `equipos` DISABLE KEYS */;
INSERT INTO `equipos` VALUES (1,'cod001','impresora','Epson','WorkForce Pro WF-M5299',3,12,'12315144445548413','12 meses',10,1,2021,1,1,1,'despacho gerencial',1,1,'imprsora de gerente genral','uploads/equipos/equipo_69476ed03aa6e.webp',1,'2025-12-21 03:51:44','2025-12-28 01:29:55',1,1);
/*!40000 ALTER TABLE `equipos` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_equipo_insert` AFTER INSERT ON `equipos` FOR EACH ROW BEGIN
    DECLARE usuario_nombre_var VARCHAR(100);
    
    
    SELECT nombre_completo INTO usuario_nombre_var
    FROM usuarios WHERE id = NEW.id_usuario_creacion;
    
    INSERT INTO auditoria_equipos (
        id_equipo,
        id_usuario,
        usuario_nombre,
        accion,
        descripcion,
        datos_nuevos,
        ip_address
    ) VALUES (
        NEW.id,
        NEW.id_usuario_creacion,
        usuario_nombre_var,
        'CREAR',
        CONCAT('Equipo creado: ', NEW.codigo_patrimonial),
        JSON_OBJECT(
            'codigo_patrimonial', NEW.codigo_patrimonial,
            'clasificacion', NEW.clasificacion,
            'marca', NEW.marca,
            'modelo', NEW.modelo,
            'id_estado', NEW.id_estado,
            'numero_serie', NEW.numero_serie
        ),
        NULL
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_equipos_update` AFTER UPDATE ON `equipos` FOR EACH ROW BEGIN
    INSERT INTO auditoria (tabla, id_registro, accion, datos_anteriores, datos_nuevos, id_usuario)
    VALUES (
        'equipos',
        NEW.id,
        'UPDATE',
        JSON_OBJECT(
            'codigo_patrimonial', OLD.codigo_patrimonial,
            'estado', OLD.id_estado,
            'marca', OLD.marca,
            'modelo', OLD.modelo
        ),
        JSON_OBJECT(
            'codigo_patrimonial', NEW.codigo_patrimonial,
            'estado', NEW.id_estado,
            'marca', NEW.marca,
            'modelo', NEW.modelo
        ),
        NEW.id_usuario_actualizacion
    );
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER after_equipo_update
AFTER UPDATE ON equipos
FOR EACH ROW
BEGIN
    DECLARE usuario_nombre_var VARCHAR(100);
    DECLARE descripcion_var TEXT;
    DECLARE estado_anterior VARCHAR(50);
    DECLARE estado_nuevo VARCHAR(50);
    
    
    SELECT nombre_completo INTO usuario_nombre_var
    FROM usuarios WHERE id = NEW.id_usuario_actualizacion;
    
    
    IF OLD.activo = 1 AND NEW.activo = 0 THEN
        
        SET descripcion_var = CONCAT('Equipo eliminado: ', NEW.codigo_patrimonial);
        
        INSERT INTO auditoria_equipos (
            id_equipo,
            id_usuario,
            usuario_nombre,
            accion,
            descripcion,
            datos_anteriores,
            datos_nuevos
        ) VALUES (
            NEW.id,
            NEW.id_usuario_actualizacion,
            usuario_nombre_var,
            'ELIMINAR',
            descripcion_var,
            JSON_OBJECT('activo', OLD.activo),
            JSON_OBJECT('activo', NEW.activo)
        );
        
    ELSEIF OLD.id_estado != NEW.id_estado THEN
        
        SELECT nombre INTO estado_anterior FROM estados_equipo WHERE id = OLD.id_estado LIMIT 1;
        SELECT nombre INTO estado_nuevo FROM estados_equipo WHERE id = NEW.id_estado LIMIT 1;
        
        SET descripcion_var = CONCAT('Estado cambiado de "', estado_anterior, '" a "', estado_nuevo, '"');
        
        INSERT INTO auditoria_equipos (
            id_equipo,
            id_usuario,
            usuario_nombre,
            accion,
            descripcion,
            datos_anteriores,
            datos_nuevos
        ) VALUES (
            NEW.id,
            NEW.id_usuario_actualizacion,
            usuario_nombre_var,
            'CAMBIO_ESTADO',
            descripcion_var,
            JSON_OBJECT('id_estado', OLD.id_estado, 'estado_nombre', estado_anterior),
            JSON_OBJECT('id_estado', NEW.id_estado, 'estado_nombre', estado_nuevo)
        );
        
    ELSE
        
        SET descripcion_var = 'Equipo modificado';
        
        
        IF OLD.codigo_patrimonial != NEW.codigo_patrimonial THEN
            SET descripcion_var = CONCAT(descripcion_var, ' - C├│digo patrimonial actualizado');
        END IF;
        
        IF OLD.marca != NEW.marca OR OLD.modelo != NEW.modelo THEN
            SET descripcion_var = CONCAT(descripcion_var, ' - Marca/Modelo actualizado');
        END IF;
        
        IF OLD.numero_serie != NEW.numero_serie OR (OLD.numero_serie IS NULL AND NEW.numero_serie IS NOT NULL) THEN
            SET descripcion_var = CONCAT(descripcion_var, ' - N├║mero de serie actualizado');
        END IF;
        
        IF OLD.id_sede != NEW.id_sede OR (OLD.id_sede IS NULL AND NEW.id_sede IS NOT NULL) THEN
            SET descripcion_var = CONCAT(descripcion_var, ' - Sede actualizada');
        END IF;
        
        IF OLD.imagen != NEW.imagen OR (OLD.imagen IS NULL AND NEW.imagen IS NOT NULL) THEN
            SET descripcion_var = CONCAT(descripcion_var, ' - Imagen actualizada');
        END IF;
        
        INSERT INTO auditoria_equipos (
            id_equipo,
            id_usuario,
            usuario_nombre,
            accion,
            descripcion,
            datos_anteriores,
            datos_nuevos
        ) VALUES (
            NEW.id,
            NEW.id_usuario_actualizacion,
            usuario_nombre_var,
            'MODIFICAR',
            descripcion_var,
            JSON_OBJECT(
                'codigo_patrimonial', OLD.codigo_patrimonial,
                'clasificacion', OLD.clasificacion,
                'marca', OLD.marca,
                'modelo', OLD.modelo,
                'numero_serie', OLD.numero_serie,
                'id_estado', OLD.id_estado,
                'id_sede', OLD.id_sede
            ),
            JSON_OBJECT(
                'codigo_patrimonial', NEW.codigo_patrimonial,
                'clasificacion', NEW.clasificacion,
                'marca', NEW.marca,
                'modelo', NEW.modelo,
                'numero_serie', NEW.numero_serie,
                'id_estado', NEW.id_estado,
                'id_sede', NEW.id_sede
            )
        );
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping data for table `marcas`
--

LOCK TABLES `marcas` WRITE;
/*!40000 ALTER TABLE `marcas` DISABLE KEYS */;
/*!40000 ALTER TABLE `marcas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `modelos`
--

LOCK TABLES `modelos` WRITE;
/*!40000 ALTER TABLE `modelos` DISABLE KEYS */;
/*!40000 ALTER TABLE `modelos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sedes`
--

LOCK TABLES `sedes` WRITE;
/*!40000 ALTER TABLE `sedes` DISABLE KEYS */;
INSERT INTO `sedes` VALUES (1,'SEDE 1','CALLE ABCDE',1,1,'2025-12-21 03:18:21');
/*!40000 ALTER TABLE `sedes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `distritos_fiscales`
--

LOCK TABLES `distritos_fiscales` WRITE;
/*!40000 ALTER TABLE `distritos_fiscales` DISABLE KEYS */;
INSERT INTO `distritos_fiscales` VALUES (1,'DISTRIDO GENERAL','PR00000068',1,'2025-12-21 03:18:00'),(2,'Lima Norte','LN-001',1,'2025-12-28 01:25:24'),(3,'Lima Sur','LS-002',1,'2025-12-28 01:25:24'),(4,'Lima Este','LE-003',1,'2025-12-28 01:25:24'),(5,'Lima Centro','LC-004',1,'2025-12-28 01:25:24'),(6,'Callao','CL-005',1,'2025-12-28 01:25:24');
/*!40000 ALTER TABLE `distritos_fiscales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `despachos`
--

LOCK TABLES `despachos` WRITE;
/*!40000 ALTER TABLE `despachos` DISABLE KEYS */;
INSERT INTO `despachos` VALUES (1,'DESPACHO PRINCIPAL  COUNTERS',1,1,'2025-12-21 03:19:00');
/*!40000 ALTER TABLE `despachos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `macro_procesos`
--

LOCK TABLES `macro_procesos` WRITE;
/*!40000 ALTER TABLE `macro_procesos` DISABLE KEYS */;
INSERT INTO `macro_procesos` VALUES (1,'MACRO PROCESO GENERAL','MACRO PROCESO GENERAL  DESCRIPCION',1,'2025-12-21 03:18:42'),(2,'AdministraciÔö£Ôöén','Procesos administrativos generales',1,'2025-12-28 01:25:24'),(3,'Operaciones','Procesos operativos',1,'2025-12-28 01:25:24'),(4,'Soporte TÔö£┬«cnico','Servicios de soporte',1,'2025-12-28 01:25:24'),(5,'LogÔö£┬ística','GestiÔö£Ôöén logÔö£┬ística',1,'2025-12-28 01:25:24');
/*!40000 ALTER TABLE `macro_procesos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `usuarios_finales`
--

LOCK TABLES `usuarios_finales` WRITE;
/*!40000 ALTER TABLE `usuarios_finales` DISABLE KEYS */;
INSERT INTO `usuarios_finales` VALUES (1,'cristhian coronado','72115227','USADOR DE EQUIPO','956761888','cristhian@gmail.com',1,'2025-12-21 03:19:32');
/*!40000 ALTER TABLE `usuarios_finales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `mantenimientos`
--

LOCK TABLES `mantenimientos` WRITE;
/*!40000 ALTER TABLE `mantenimientos` DISABLE KEYS */;
INSERT INTO `mantenimientos` VALUES (1,1,1,'2025-12-18','serapio','el teo','tiene fallas de eimpresion',2,2,'2025-12-21 04:20:01',1,1),(2,1,1,'2025-12-21','falta recargar tonner','el teo','teo lo hace',2,10,'2025-12-21 04:33:34',1,1),(3,1,1,'2025-12-21','preventivo','el teo','sollo mantenimiento preventivo',2,2,'2025-12-21 04:35:22',1,1);
/*!40000 ALTER TABLE `mantenimientos` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_mantenimiento_actualizar_estado` AFTER INSERT ON `mantenimientos` FOR EACH ROW BEGIN
    IF NEW.id_estado_nuevo IS NOT NULL THEN
        UPDATE equipos 
        SET id_estado = NEW.id_estado_nuevo,
            id_usuario_actualizacion = NEW.id_usuario_registro
        WHERE id = NEW.id_equipo;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'admin','$2y$10$XGEHcakrpHdhytgRFOHwp.yuXJSlIz2YBKuyLh7F9fl287oX9Ojt2','Administrador del Sistema','admin@sistema.com',NULL,1,1,'2025-12-21 02:50:05','2025-12-21 02:25:21','2025-12-21 02:50:05'),(2,'cristhian','$2y$10$1wb/Z.CpIabu5c9ho1AhqOCtD4HWDWfNQsB6nUJsdvFsW35.xofRe','cristhian coronado','test@gmail.com','956761889',2,1,'2025-12-21 02:47:30','2025-12-21 02:47:13','2025-12-21 02:47:30');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Administrador','Acceso completo al sistema',1,'2025-12-21 02:25:21','2025-12-21 02:25:21'),(2,'Encargado','Gesti??n de equipos y mantenimientos',1,'2025-12-21 02:25:21','2025-12-21 02:25:21'),(3,'Usuario','Solo consulta de informaci??n',1,'2025-12-21 02:25:21','2025-12-21 02:25:21');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-27 20:32:03
